@import "../../styles/mixins";

.navMain{
    padding:0.8rem 2rem;
    position: sticky;
    top: 0%;
    width: 100vw;
    @include flexBox(row , space-between);
    z-index: 10;
    background-color: var(--primary-color);
    color: rgb(243, 243, 243);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
    border-radius: 0rem 0rem 2rem 2rem;
    button{
        @include flexBox();
        width: 2rem;
        aspect-ratio: 1/1;
        background-color: transparent;
        border: none;
        color: inherit;
        svg{
            padding: 0.1rem;
            padding-left: 0.5rem;
            border-radius: 50%;
            transition: 0.30s ease;
            @include flexBox();
            width: 2rem;
            height: 2rem;
            &:hover{
                background: rgba(86, 86, 86, 0.4);
            }
        }
    }

    h2{
        font-size: 1rem;
    }
    h1{
        font-size: 1.5rem;
        text-transform: capitalize;
    }
}
