@import "../../styles/mixins";

.navMain{
    // height: $navHeight;   
    padding: 1rem 0.5rem;
    position: sticky;
    top: 0%;
    width: 100vw;
    background-color: transparent;
    background-color: var(--primary-color);
    color: rgb(243, 243, 243);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.347);
    @include flexBox();
    z-index: 10;
    border-radius: 0rem 0rem 2rem 2rem;
}
.nav{
    width: $pageView;
    @include flexBox();
}
.location{
    @include flexBox(column , center , flex-start , 0rem);
    width: fit-content;
    text-transform: capitalize;
    h1{
        @include flexBox();
        font-size: 1.5rem;
        font-weight: 700;
    }
    p{
        @include textWrap(1);
        font-size: 0.8rem;
    }
}
.searchbox{
    padding: 0.2rem;
    position: relative;
    margin: auto;
    width: min(30rem , 100%);
    @include flexBox();
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    background-color: rgb(234, 234, 234);
    color: black;
    input{
        border: none;
        outline: none;
        padding:0.6rem;
        padding-right: 2.5rem;
        border-radius: 0.2rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 0.9rem;
        font-weight: 500;
        &::placeholder{
            opacity: 0.6;
        }
    }
    svg{
        width: 2rem;
        height: 100%;
        right: 0rem;
        color: var(--primary-color);
    }
}

@media (max-width:$mobile) {
    .nav{
        flex-direction: column;
    }
    .location{
        width: 100%;
        text-align: left;
        h1{
            font-size: 1.3rem;
            font-weight: 700;
        }
        p{
            font-size: 0.7rem;
        }
    }
}