@import "../../styles/mixins";

.addbottombtn{
    position: absolute;
    z-index: 1;
    bottom: 5rem;
    right: 5rem;
    // left: 5rem;
    border-radius: 50%;
    width: 3rem;
    aspect-ratio: 1/1;
    @include flexBox();
    border: none;
    outline: none;
    background:radial-gradient(rgba(var(--primary-color-rgb)) , rgba(var(--secondry-color-rgb)));
    background:linear-gradient(rgba(var(--primary-color-rgb)) , rgba(var(--secondry-color-rgb)));
    box-shadow: 6px 6px 20px inset rgba(var(--theme-shadow-rgb) , 0.1);
    svg{
        width: 90%;
        height: 90%;
        color: rgba(231, 231, 231, 0.8);
    }
}