@import "../../../styles/mixins";

.mainContainer{
    min-height: 100vh;
    min-height: 100dvh;
    @include flexBox(column , center , center , 1rem);
}
.formContainer{
    margin: auto;
    padding: 2rem 1rem;
    width: min(30rem , 90%);
    border: 1px solid rgba(var(--primary-color-rgb));
    border-radius: 0.3rem;
    @include flexBox(column , center , flex-start);
    h1{
        text-transform: capitalize;
        opacity: 0.7;
        font-size: 1.4rem;
        font-weight: 600;
        @include flexBox(row , flex-start);
    }
    p{
        text-transform: capitalize;
        opacity: 0.9;
        font-weight: 500;
        margin-top: 1rem
    }
    input{
        @include primaryInput;
    };
    textarea{
        @include primaryTextarea;
        
    };
    button{
        @include primaryButton;
    }
}