@import "../../styles/mixins";

.container{
    margin: 2rem auto;
    padding: 0.5rem;
    width: 90%;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 21px -5px rgba(var(--theme-shadow-rgb) , 0.20);
    @include gridWrap(8rem);
    gap: 0.5rem;
}
.card{
    transition: 0.30s ease;
    border-radius: 0.2rem;
    padding: 1rem;
    @include flexBox(column);
    cursor: pointer;
    border: 1px solid rgba(var(--primary-color-rgb), 0);
    text-transform: capitalize;
    text-align: center;
    img {
        width: 1.6rem;
        aspect-ratio: 1/1;
    }
    span{
        display: block;
        font-size: 0.8rem;
    }
    &:hover{
        background-color: var(  --theme-container);
        border: 1px solid rgba(var(--primary-color-rgb), 0.9);
    }
}
.postService{
    border: 1px solid rgba(var(--primary-color-rgb), 0.7);
    svg{
        height: 2rem;
        width: 2rem;
        opacity: 0.8;
    }
    &:hover{
        svg{
            opacity: 1;
        }
            
    }
    span{
        font-weight: 600;
    }
}