@import "../../styles/mixins";

.maincontainer{
    padding: 0.5rem;
    margin: 2rem auto;
    width: 100%;
    padding: 0.5rem;
}
.tittle{
    text-transform: capitalize;
    opacity: 0.7;
    font-size: 1.4rem;
    font-weight: 600;
    @include flexBox(row , flex-start);
    // border: 1px solid black;
}

.ServiceContainer{
    @include flexBox(row , flex-start , center , 1rem);
    overflow: hidden;
    overflow-x: scroll;
    @include scrollBar(5px , 5px);
    padding: 1rem 0.1rem;
}
.serviceCard{
    cursor: pointer;
    flex: 0 0 15rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgba(134, 134, 134, 0.05);
    box-shadow: 1px 1px 10px 0px rgba(var(--theme-shadow-rgb) , 0.4);
    transition: 0.30s ease;
    &:hover{
        background-color: rgba(134, 134, 134, 0.2);
        box-shadow: 3px 7px 10px 0px rgba(var(--theme-shadow-rgb) , 0.50);
    }
    img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 0.2rem;
    }
    p{
        font-size: 0.9rem;
        font-weight: 500;
        @include textWrap(2);
    };
    span{
        margin-top: 0.2rem;
        opacity: 0.7;
        font-weight: 500;
        display: block;
        font-size: 0.8rem
    };
    small{
        opacity: 0.7;
        display: block;
        font-size: 0.7rem
    };
}